body,html{
	width: 100%;
	//height: 100%;
	margin: 0;
	padding: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
nav{
	color: white;
}
.contacts{
	font-size: 12px;
	letter-spacing: 1px;
	color: white;
}
.container{
	padding: 0;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.row{
	padding: 0;
	margin: 0
}
.col-12, .col-6, .col-lg-6{
	color: #343A40;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:30px;
}
.rectangle {
	width: 80%;
	height: 5px;
	background: #F39200;
	position: absolute;
	
}
.rectangle_white {
	width: 80%;
	height: 5px;
	background: #fff;
	position: absolute;
	
}
.rectangle1 {
	width: 100%;
	height: 5px;
	background: white;
	position: absolute;
	
}

#rectangle-left{
	width: 15%;
	height: 5px;
	background: #F39200;
	margin-top: 20px;
}
.caption {
    position: absolute;
    left: 25.5%;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #343A40;
}
.caption-2 {
    position: absolute;
    left: 25%;
    top: 15%;
    width: 100%;
    text-align: center;
    color: #343A40;
}
.caption-1 {
    position: absolute;
    left: 40%;
    top: 15%;
    width: 100%;
    text-align: center;
    color: #343A40;
    margin: 0;
    padding: 0
}
.caption-3 {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #343A40;
}
.caption-white {
    position: absolute;
    left: 40%;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #343A40;
    margin: 0;
    padding: 0
}
/*.col-lg-6 span.border-2, .col-6 span.border-3{
	font-size: 1.5vw;
}
.col-6 span.border-2{
	font-size: 2.5vw;
}*/
span.border-1{
	color: #343A40;
	font-size: 24px;
    letter-spacing: 10px;
}
span.border-2{
	color: #343A40;
	font-size: 24px;
    letter-spacing: 1px;
}
span.border-3{
	color: #343A40;
	font-size: 16px;
    letter-spacing: 1px;
}
.flex-column{
	padding-left: 20%;
}
.mobilever{
	display: none;
}
.carousel-control-prev{
	left: -10%;
}
.carousel-control-next{
	right: -10%;
}
.next, .prev {
	top: 30%;
}
.prev {
	width: 5%;
	left: -3%;
}
.next{
	width: 5%;

	right: -3%;
}

/*@media (max-width: 576px){
	.container{
		width: 100%;
	}
	
}*/
/*@media (min-width: 576px){
	.container {
    max-width: 100%;
	}
}*/
.caption-1 span.border-2{
	color: #343A40;
	font-size: 16pt;
}

.logo2 img{
	width: 100%;
	margin-top: 200px;
	margin-left: 55%;
}
.bgimg-1 {
    background-image: url(../img/111.jpg);
    min-height: 600px;
    width: 100%;
}

.bgimg-2 {
    background-image: url(../img/22.jpg);
    min-height: 420px;
}
.bgimg-3 {
    background-image: url(../img/33.jpg);
    min-height: 420px;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    /*opacity: 0.45;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h5{
	margin-top: 25px;
	margin-bottom: 20px;
}

h3{
	margin-top: 30px;
}
#rectangle-right{
	width: 15%;
	height: 5px;
	background: #F39200;
	margin-top: 10px;
	margin-left: 15px;
}
.about{
	min-height: 400px;
	background-image: url(../img/business.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutas{
	padding-left: 15px;
	padding-right: 30px;
}

.aboutas p{
	margin-bottom: 0;
	letter-spacing: 1px;
}
.toggle {
	color: #F39200;
	cursor: pointer;
}
.contact{
	color: #Fff;
	cursor: pointer;
	padding:10px 35px;
}
.contact:hover{
	color: #343A40;
}

button{
	
	border: 0px;
	//border-radius:12px;
	background:#F39200;
	padding-top: 10px;
	padding-bottom: 10px;  
}
button a{
	color: white;
	margin: 25px;
}
button a:hover{
	color: #000;
}
.close1{
	background: #7E7D7D;
}

.send1{
	background: #F39200;
}

.contact{
	margin-top: 40px; 
	margin-bottom: 50px; 
}
.form-control{
	border-radius: 0; 
}

.circle {
	/*width: 100px;
	height: 100px;
	background:#E17E27;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;*/
	position: relative;
}
.circle h5{
	padding-top: 135px;
	text-align: center;

}
.selection, .froze, .production, .installation{
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  display: inline-block;
  position: absolute;
  margin-left: 28.5%;
}

.selection{
    background: url(../img/spait.png)  -833px -358px;
}
.froze{
    background: url(../img/spait.png)  -361px -42px;
}
.production{
	background: url(../img/spait.png)  -203px -358px;
}
.installation{
	background: url(../img/spait.png)  -203px -672px;
}
.job{
	min-height: 400px;
}
.job2{
	margin-top: 200px;
	margin-bottom: 50px;
}
.products{
	min-height: 450px;
	background: #F9AE3E;
}
.description img{
	width: 100%;
}
#certificates{
	min-height: 450px;
	background: #F9AE3E;
}
#reviews{
	min-height: 450px;
	background: #fff;
}
.vybor h5{
	margin-top: 30px;
	text-align: center;
	margin-bottom: 50px;
	color: #343A40;
}

.vybor1 h5:hover{
	color: #fff;
}
.vybor1 {
	margin-top: 200px;
}

/*.product h3,.product h5{
	margin-left: 15px;
}
.product1{
	min-height: 400px;
	background-image: url(../img/prod.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*.product li{*/
	/*list-style: none;  Убираем исходные маркеры */
   /* background: url(../img/marker1.png) no-repeat 0 4px;  Параметры фона */
   /* padding-left: 25px; 
}
.product ul{
	padding-left: 25px
}*/
.gallery{
	width: 100%;
	opacity: 0.45;
}
.certificat{
	width: 80%;
	margin-bottom: 50px;
	margin-left: 10%
}

.cert{
	margin-top: 230px;
}
.otz{
	margin-top: 230px;
}
.pic, .picture{
	padding: 0;
}
.pic img{
	display: block;
	min-height: 100%;
	-webkit-transition: opacity 0.35s;
	-o-transition: opacity 0.35s;
	transition: opacity 0.35s;
	position: relative;
	
}
.pic:hover img{
	background-size: cover;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
	opacity: 1;
}

/*.pic:after{
	content: "";
	display: block;
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border-right: 1px #F39200 solid;
	border-left: 1px #F39200 solid;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(1,0);
	-ms-transform: scale(1,0);
	-o-transform: scale(1,0);
	transform: scale(1,0);
	opacity: 0;
	z-index: 10;

}*/

.pic:before{
	content: "";
	display: block;
	position: absolute;
	top: 30px;
	right: 100px;
	bottom: 30px;
	left: 100px;
	//border-bottom: 1px #F39200 solid;
	border-top: 2px #F39200 solid;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	-o-transform: scale(0,1);
	transform: scale(0,1);
	opacity: 0;
	z-index: 10;

}
.pic:hover:after, .pic:hover:before{

	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
/*.gallery:hover{
	opacity: 1;
}*/

.footer{
	min-height: 200px;
	background: #343A40;
}
.menu{
	padding-bottom: 30px
}
.flex-column a{
	color: #999C8D;
}
.flex-column a:hover{
	color: #CBCDBE;
}
.footercontact{
	font-size: 20px;
}
.prava{
	text-align: center;
	height: 25px;
	color: #999C8D;
	background: #16181B;
	padding:0;
	font-size: 12px
}
.prava p{
	margin-bottom: 0;
}
.modal.and.carousel {
  position: fixed; // Needed because the carousel overrides the position property
}
.carousel-inner img {
      width: 100%;
      height: 100%;
}
@media (max-width: 992px){
	span.border-2{
	font-size: 18px;
	}
	.job{
		display: none;
	}
	.contacts{
		display: none;
	}
	.vybor{
		display: none;
	}
	.product1{
		display: none;
	}
	.flex-column{
		padding-left: 42%;
	}
	.logo3{
		padding-left: 10%;
	}
	.mobilever{
		display: block;
	}
	.examples{
		display: none;
	}
	button a{
		margin: 5px;
		}
	button{
		font-size: 16px;
	}
	.caption{
		left: 0;
	}
	.carousel-control-prev{
		left: 0;
	}
	.carousel-control-next{
		right: 0;
	}
	.prev {
		left: 0;
	}
	.next{
		right: 0;
	}
	#certificates{
		display: none;
	}
	#reviews{
		display: none;
	}
	#light1{
		margin-top: 230px;
		min-height: 500px;
	}
	#light{
		display: none;
	}
	.carousel-inner h5{
	margin-top: 30px;
	text-align: center;
	margin-bottom: 50px;
	color: #343A40;
	}

	.carousel-item h5:hover{
		color: #fff;
	}	
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
	}
}
#sendmessage{
	display: none;
}
#senderror{
	display: none;
}
.pull-right{
	display: none;
}