body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
nav{
	color: white;
}
.contacts{
	font-size: 12px;
	letter-spacing: 1px;
	color: white;
}
.container{
	padding: 0;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.row{
	padding: 0;
	margin: 0
}
.col-12, .col-6, .col-lg-6{
	color: #343A40;
	text-align: justify;
	padding-left: 0;
	padding-top:30px;
}
.rectangle {
	width: 100%;
	height: 5px;
	background: #F39200;
	position: absolute;
	
}
.rectangle1 {
	width: 100%;
	height: 5px;
	background: white;
	position: absolute;
	
}
#rectangle-left{
	width: 15%;
	height: 5px;
	background: #F39200;
	margin-top: 10px;
}
.caption {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption-1 {
    position: absolute;
    left: 36.5%;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
    margin: 0;
    padding: 0
}
/*.col-lg-6 span.border-2, .col-6 span.border-3{
	font-size: 1.5vw;
}
.col-6 span.border-2{
	font-size: 2.5vw;
}*/
span.border-1{
	color: #343A40;
	font-size: 24px;
    letter-spacing: 10px;
}
span.border-2{
	color: #343A40;
	font-size: 24px;
    letter-spacing: 1px;
}
span.border-3{
	color: #343A40;
	font-size: 16px;
    letter-spacing: 1px;
}
.flex-column{
	padding-left: 20%;
}
@media (max-width: 992px){
	span.border-2{
	font-size: 18px;
	}
	.job{
		display: none;
	}
	.contacts{
		display: none;
	}
	.vybor{
		display: none;
	}
	.product1{
		display: none;
	}
	.flex-column{
		padding-left: 42%;
	}
	.logo3{
		padding-left: 28%;
	}
	
}
/*@media (max-width: 576px){
	.container{
		width: 100%;
	}
	
}*/
/*@media (min-width: 576px){
	.container {
    max-width: 100%;
	}
}*/
.caption-1 span.border-2{
	color: #343A40;
	font-size: 16pt;
}
.logo2 img{
	width: 100%;
	margin-top: 200px;
	margin-left: 55%;
}
.bgimg-1 {
    background-image: url(../img/11.jpg);
    min-height: 600px;
}

.bgimg-2 {
    background-image: url(../img/22.jpg);
    min-height: 400px;
}
.bgimg-3 {
    background-image: url(../img/33.jpg);
    min-height: 400px;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    /*opacity: 0.45;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
	margin-top: 40px
}
.about{
	min-height: 400px;
	background-image: url(../img/business.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutas{
	padding-left: 15px;
}
.aboutas h3, .product h3{
	margin-top: 25px;
}
.aboutas p{
	margin-bottom: 0;
	letter-spacing: 1px;
}
button{
	
	border: 0px;
	border-radius:12px;
	background:#F39200;
	padding-top: 10px;
	padding-bottom: 10px;  
}
button a{
	color: white;
	margin: 25px;
}
button a:hover{
	color: #000;
	
}
.contact{
	margin-top: 25px; 
	margin-bottom: 25px; 
}

.circle {
	/*width: 100px;
	height: 100px;
	background:#E17E27;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;*/
	position: relative;
}
.circle h5{
	padding-top: 135px;
	text-align: center;

}
.selection, .froze, .production, .installation{
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  display: inline-block;
  position: absolute;
  margin-left: 28.5%;
}
.selection{
    background: url(../img/spait.png)  -833px -358px;
}
.froze{
    background: url(../img/spait.png)  -361px -42px;
}
.production{
	background: url(../img/spait.png)  -203px -358px;
}
.installation{
	background: url(../img/spait.png)  -203px -672px;
}
.job{
	min-height: 400px;
}
.job2{
	margin-top: 150px;
}
.vybor{
	min-height: 450px;
	background: #EC7700;
}
.vybor h5, .vybor h3{
	margin-top: 10px;
	color: white;
	text-align: center;
}
/*.vybor h5{
	margin-top: 10px;
}*/
.vybor p{
	color: white;
	text-align: left;
	margin-left: 10%;
	margin-right: 5%;
}
.vybor1 img{
	width: 150px;
	margin-left: 29%;
}
.product h3,.product h5{
	margin-left: 15px;
}
.product1{
	min-height: 400px;
	background-image: url(../img/prod.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#rectangle-right{
	width: 15%;
	height: 5px;
	background: #F39200;
	margin-top: 10px;
	margin-left: 15px;
}
.product li{
	list-style: none; /* Убираем исходные маркеры */
    background: url(../img/marker1.png) no-repeat 0 4px; /* Параметры фона */
    padding-left: 25px; 
}
.product ul{
	padding-left: 25px
}
.gallery{
	width: 100%;
	opacity: 0.45;
}
.gallery:hover{
	opacity: 1;
}
.gallery1{
	padding: 0;
}
.footer{
	min-height: 200px;
	background: #343A40;
}
.menu{
	padding-bottom: 30px
}
.flex-column a{
	color: #999C8D;
}
.flex-column a:hover{
	color: #CBCDBE;
}
.footercontact{
	font-size: 20px;
}
.prava{
	text-align: center;
	height: 25px;
	color: #999C8D;
	background: #16181B;
	padding:0;
	font-size: 12px
}